{% extends '../layout/layout.html' %}

{% block style %}
{{ super() }}
<style>
#form_email_reset input {
  margin-top: 20px;
}
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <!-- <h4 class="text-muted">Password Reset</h4> -->
      <h4>Enter your email</h4>
      <form id="form_email_reset" action="/user/password/reset_post" method="post">
        <input type="email" class="form-control" name="email" placeholder="name@company.com" required=""/>
        <input type="submit" class="btn btn-primary" value="Reset Password" />
      </form>
    </div>
  </div>
</div>
{% endblock %}
